body {
	background-color: #605856;
}

.one {

	background: #1C6E8C;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 500px;
	width:1000px;
}

.two{
	position: relative; 
   	right: 15px;
	text-align: center;
	background: #274156;
	border-radius: 100px;
	height: 1000px;
	width:1000px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}

.three {

	background: #1C6E8C;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 450px;
	width: 1000px;
	
}

.four{
	position: relative; 
   	right: 15px;
	position: relative; 
   	 /* for IE 6 */
	text-align: center;
	background: #274156;
	border-radius: 100px;
	height: 400px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}


h4 { 
   font-family: "Arial Black", Gadget, sans-serif;
   position: absolute; 
   top: 0px; 
   left: 0; 
   font-size: 200%;
   width: 100%;
}

h2 {
	color:#D0CCD0;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color:#D0CCD0;
}
h3{
	color: #D0CCD0;
	
}
