body {
	background-color: #08605F;
}

.one {

	background: #177E89;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 500px;
}

.two{
	text-align: center;
	background: #A2AD59;
	border-radius: 100px;
	height: 1200px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}

h2 {
	color:#CC6600;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color:#CC6600;

}
