body {
	background-color: #605856;
	margin: 0;
}

.one {

	background: #1C6E8C;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 500px;
}

.two{
	text-align: center;
	background: #274156;
	border-radius: 100px;
	height: 1000px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}

.three{
		text-align: center;
	background: #1C6E8C;
	border-radius: 100px;
	height: 1000px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}


.four {

	background: #274156;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 450px;
	
}

.five{
	position: relative; 
	text-align: center;
	background: #1C6E8C;
	border-radius: 100px;
	height: 450px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}


h4 { 
   font-family: "Arial Black", Gadget, sans-serif;
   position: absolute; 
   top: 0px; 
   left: 0; 
   font-size: 200%;
   width: 100%;
}

h2 {
	color:#D0CCD0;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color:#D0CCD0;
}
h3 {color: #D0CCD0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D0CCD0;
}

ul.topnav li {float: center;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

ul.topnav li a:hover {
	background-color: #111;
}


