body {
	background-color: #605856;
}

.one {

	background: #1C6E8C;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 500px;
}

.two{
	text-align: center;
	background: #274156;
	border-radius: 100px;
	height: 1200px;
	padding-top: 15px;
	padding-left: 45px;
	padding-right: 45px;
}

.three {

	background: #1C6E8C;
	text-align: center;
	border-radius: 100px;
	padding: 15px;
	height: 1200px;
}

h2 {
	color:#D0CCD0;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color:#D0CCD0;
}
h3{
	color: #D0CCD0;
	font-size: 90%;
}
}
